//變數
@import "base/reset";
@import "base/font";
@import "base/color";
@import "base/spacing";
@import "base/variable";
@import "base/grid";
@import "base/base";

//mixin
@import "mixin/mixin";

//組件
@import "components/btn";
@import "components/breadcrumb";
@import "components/pagenumber";
@import "components/vegetableCard";

// layout
// @import "layout/header";
// @import "layout/footer";


//頁面 
// @import "page/index";
// @import "page/about";
// @import "page/productInfo";
// @import "page/cookbook";
// @import "page/product";
@import "page/game";
@import "page/bmr"
//套件