/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  --column-gap: 10px;
  max-width: 1200px;
  margin: auto;
  padding-left: var(--column-gap);
  padding-right: var(--column-gap);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--column-gap) * -1);
  margin-right: calc(var(--column-gap) * -1);
}

[class*=col-],
[class*=row-cols-] > .col {
  padding: 0 10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.333333%;
  }
  .col-xxl-2 {
    width: 16.666666%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.333333%;
  }
  .col-xxl-5 {
    width: 41.666666%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.333333%;
  }
  .col-xxl-8 {
    width: 66.666666%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.333333%;
  }
  .col-xxl-11 {
    width: 91.666666%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.row-cols-1 > .col {
  width: 100%;
}

.row-cols-2 > .col {
  width: 50%;
}

.row-cols-3 > .col {
  width: 33.333333%;
}

.row-cols-4 > .col {
  width: 25%;
}

.row-cols-5 > .col {
  width: 20%;
}

.row-cols-6 > .col {
  width: 16.666666%;
}

@media (width >= 768px) {
  .row-cols-md-1 > .col {
    width: 100%;
  }
  .row-cols-md-2 > .col {
    width: 50%;
  }
  .row-cols-md-3 > .col {
    width: 33.333333%;
  }
  .row-cols-md-4 > .col {
    width: 25%;
  }
  .row-cols-md-5 > .col {
    width: 20%;
  }
  .row-cols-md-6 > .col {
    width: 16.666666%;
  }
}
@media (width >= 1024px) {
  .row-cols-lg-1 > .col {
    width: 100%;
  }
  .row-cols-lg-2 > .col {
    width: 50%;
  }
  .row-cols-lg-3 > .col {
    width: 33.333333%;
  }
  .row-cols-lg-4 > .col {
    width: 25%;
  }
  .row-cols-lg-5 > .col {
    width: 20%;
  }
  .row-cols-lg-6 > .col {
    width: 16.666666%;
  }
}
@media (width >= 1200px) {
  .row-cols-xl-1 > .col {
    width: 100%;
  }
  .row-cols-xl-2 > .col {
    width: 50%;
  }
  .row-cols-xl-3 > .col {
    width: 33.333333%;
  }
  .row-cols-xl-4 > .col {
    width: 25%;
  }
  .row-cols-xl-5 > .col {
    width: 20%;
  }
  .row-cols-xl-6 > .col {
    width: 16.666666%;
  }
}
body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #FBF8F5;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn-primary {
  background-color: #F73F14;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #d12d07;
  border: 1px solid #d12d07;
}

.btn-secondary {
  background-color: #FFD768;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FFD768;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #ffc935;
  border: 1px solid #ffc935;
}

.btn-product {
  background-color: #FAA21F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FAA21F;
  cursor: pointer;
}
.btn-product:hover {
  background-color: #e18905;
  border: 1px solid #e18905;
}

.btn-outline-primary {
  background-color: transparent;
  color: #F73F14;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-outline-primary:hover {
  background-color: #F73F14;
  color: #FFFFFF;
}

.btn-outline-white {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}
.btn-outline-white:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-l-icon-primary {
  background-color: #F73F14;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-l-icon-primary:hover {
  background-color: #d12d07;
  border: 1px solid #d12d07;
}
.btn-l-icon-primary i {
  margin-right: 8px;
}

.btn-r-icon-primary {
  background-color: #F73F14;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-r-icon-primary:hover {
  background-color: #d12d07;
  border: 1px solid #d12d07;
}
.btn-r-icon-primary i {
  margin-left: 8px;
}

.btn-l-icon-secondary {
  background-color: #FFD768;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FFD768;
  cursor: pointer;
}
.btn-l-icon-secondary:hover {
  background-color: #ffc935;
  border: 1px solid #ffc935;
}
.btn-l-icon-secondary i {
  margin-right: 8px;
}

.btn-r-icon-secondary {
  background-color: #FFD768;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FFD768;
  cursor: pointer;
}
.btn-r-icon-secondary:hover {
  background-color: #ffc935;
  border: 1px solid #ffc935;
}
.btn-r-icon-secondary i {
  margin-left: 8px;
}

.btn-l-icon-btn {
  background-color: #FAA21F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FAA21F;
  cursor: pointer;
}
.btn-l-icon-btn:hover {
  background-color: #e18905;
  border: 1px solid #e18905;
}
.btn-l-icon-btn i {
  margin-right: 8px;
}

.btn-r-icon-btn {
  background-color: #FAA21F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #FAA21F;
  cursor: pointer;
}
.btn-r-icon-btn:hover {
  background-color: #e18905;
  border: 1px solid #e18905;
}
.btn-r-icon-btn i {
  margin-left: 8px;
}

.btn-outline-l-icon-primary {
  background-color: transparent;
  color: #F73F14;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-outline-l-icon-primary:hover {
  background-color: #F73F14;
  color: #FFFFFF;
}
.btn-outline-l-icon-primary i {
  margin-right: 8px;
}

.btn-outline-r-icon-primary {
  background-color: transparent;
  color: #F73F14;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-outline-r-icon-primary:hover {
  background-color: #F73F14;
  color: #FFFFFF;
}
.btn-outline-r-icon-primary i {
  margin-left: 8px;
}

.btn-outline-l-icon-secondary {
  background-color: transparent;
  color: #F73F14;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-outline-l-icon-secondary:hover {
  background-color: #F73F14;
  color: #FFFFFF;
}
.btn-outline-l-icon-secondary i {
  margin-right: 8px;
}

.btn-outline-r-icon-secondary {
  background-color: transparent;
  color: #F73F14;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #F73F14;
  cursor: pointer;
}
.btn-outline-r-icon-secondary:hover {
  background-color: #F73F14;
  color: #FFFFFF;
}
.btn-outline-r-icon-secondary i {
  margin-left: 8px;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.breadcrumb li {
  margin-right: 8px;
}
.breadcrumb li + li::before {
  content: "/";
  margin-right: 8px;
  color: #AEAEAE;
}
.breadcrumb a {
  color: #AEAEAE;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb:last-child {
  color: #F73F14;
}

.PageNumber {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.PageNumber > a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #E73F14;
  border: 1px solid #E73F14;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.PageNumber > a:hover {
  color: #E73F14;
}
.PageNumber > a.active {
  background: #E73F14;
  color: #fff;
  border-color: #E73F14;
}
.PageNumber > a.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.PageNumber > a.disabled:hover {
  color: #333;
}
.PageNumber #nextpage, .PageNumber #prevpage {
  border: none;
}

.product-list .product_items .vegetable_card {
  background-color: #fff;
  height: 440px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin: 20px;
}
.product-list .product_items .vegetable_card .product_tag {
  position: absolute;
  right: 0;
  border: 1px solid #AEAEAE;
  border-radius: 20px;
  color: #AEAEAE;
  width: 30%;
  text-align: center;
  margin: 8px;
}
.product-list .product_items .vegetable_card img {
  margin: 40px 0 20px 0;
  padding: 8px;
  width: 80%;
  height: 80%;
}
.product-list .product_items .vegetable_card .vegetable_title {
  font-weight: bold;
}
.product-list .product_items .vegetable_card .vegetable_price {
  font-weight: bold;
  margin: 8px 0 20px 0;
}