$primary: #F73F14;
$secondary: #FFD768;
$bgc: #FFF3E0;
$btn: #FAA21F;
$green: #21895E;
$white: #FFFFFF;
$black: #000000;
$footer-bg: #F1F1F1;
$border-bg: #D9D9D9;
$dark-line: #AEAEAE;
$banner-black: rgba(0, 0, 0, 0.35);
$banner-white: rgba(255, 255, 255, 0.50);