.checkOutStage{
    width: 100%;
    position: relative;
    &_stageWrap{
        margin: $sp-2 auto;
        justify-content: center;
        gap: $sp-3;
    }
    &_step{
        text-align: center;
        position: relative;
        
        &_num{
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 3px solid $dark-line;
            border-radius: $border-r-3;
            text-align: center;
            line-height: 34px;
            color: $dark-line;
        }
        &_txt{
            color: $dark-line;
            font-weight: $fw-bold;
        }
    }
}
.focous{
    border: 3px solid  $primary;
    background-color: $primary;
    color: $bgc;
}
.focousTxt{
    color:$primary
}

.checkOutStage_step:not(.Order) div:first-child{
    position: relative;
}
.checkOutStage_step:not(.Order) div:first-child::before{
    content:"";
    width: 70px;
    height: 3px;
    background-color: $dark-line;
    position: absolute;
    left: -73px;
    top: 50%;
    transform: translateY(-50%);
}



