.shoppingCart_drawer{
    &_bg{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        z-index: 1;
    }
}
.drawer{
    text-align: center;
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: $bgc;
    top: 0;
    right: 0;
    z-index: 999;
    padding: $sp-3 $sp-2;
    overflow-y: scroll;
    &_title{
        font-size:$fs-1 ;
        margin-bottom: $sp-2;
    }
    &_product>*{
        margin-bottom: $sp-1;
    }
    &_product{
        margin: 0 auto;
        padding: $sp-2 0;
        border-bottom: 1px solid $dark-line;
        @media screen and (min-width:$md){
            display: grid;
            grid-template-columns: 30% 40% 30%;
            align-items: center;
        }
        &_image{
            margin: $sp-1 auto;
            width: 100px;
            img{
                width: 100%;
                vertical-align: bottom;
            }
        }
    }
    &_close{
        font-size: $fs-2;
        color: rgba(0, 0, 0, 0.70);
        position: absolute;
        top: 10px;
        right: 40px;
        cursor: pointer;
    
        &:hover {
            color: $primary;
        }    
    }
    &_addCart{
        display: inline-block;
        margin-top: $sp-2;
    }
}
.overflow-hidden{
    overflow: hidden;
}
.drawer_product_btn_count{
    display: flex;
    border: 3px solid $primary;
    border-radius: $border-r-3;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    @media screen and (min-width:$md){
        width: 80%;
    }
    .quantityButton {
        font-size: $fs-3;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .quantityNum {
        font-size: $fs-3;
        font-weight: $fw-bold;
        line-height: $fs-3;
        color: $primary;
        display: inline-block;
    }
}