// banner
.article {
    .article_banner {
        position: relative;
        width: 100%;
        margin: auto;
        object-fit:cover;
        img {
            width: 100%;
            vertical-align: bottom;
        }
        .banner_title {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            max-width: 800px;
            max-height: 180px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $banner-black;
            transform: translate(-50%, -50%);
            align-items: center;
            h1 {
                font-size: $h1;
                color: $white;
                display: inline-block;
            }
          }
       }
    }

// article-container
.article-container{
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // gap: $sp-3;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.article-card{
    width: 380px;
    margin: $sp-3 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #000;
    img{
        width: 100%;
        border-radius: 50px;
    }
    h3{
        font-size: 24px;
        line-height: $sp-3; 
        margin: $sp-2 0; 
        height: 2.2em;     
    }
    p{
        font-size: 16px;
        margin: $sp-2 0;
    }
}

//filter-buttons
.filter-buttons {
    max-width: 1200px;
    margin: auto;
    button {
        background-color: $white;
        color: $primary;
        border: none;
        border-radius: 50px;
        font-size: 24px;
        font-family: "Noto Sans TC", sans-serif;
        width: 120px;
        padding: 10px;
        margin: 0 $sp-1;
        margin-top: $sp-3;
      &.active {
        background-color: $primary;
        color: $white;      
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
