input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
.bmr_banner{
    width: 100%;
    position: relative;
	margin: auto;
    img{
        height: 200px;
        width: 100%;
        object-fit:cover;
    }
    .bmr_banner_textbackground{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 36px;
        max-width: 800px;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $banner-black;
        text-align: center;
        h1{
            color: $white;
            font-size: 36px;
            display: inline-block;
            @media(width>=1200px){
                font-size: 48px;
            }
        }
    }
}
.bmr_countainer{
    padding: 12px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    border: 3px $border-bg solid;
    border-radius: 40px;
    background-color: $white;
    margin: 10px;
    align-items: center;
    @media(width>=1200px){
        margin: auto;
        margin-bottom: 40px;
    }
    h2{
        margin-top: 12px;
        font-size: $fs-2;
        @media(width>=576px){
            font-size: $h2;
        }
    }
    .bmr_countainer_text{
        margin-top: $sp-2;
        @media(width>=576px){
            font-size: $fs-2;
            width: 60%;
        }
    }
    .bmr_item{
        display: flex;
        flex-direction: column;
        margin-top: $sp-2;
        @media(width>=576px){
            margin-top: -10px;
            flex-direction: row;
            gap: 100px;
            align-items: center;
            padding: 40px;
        }
    }
    button{
        margin-bottom: 30px;
        @media(width>=576px){
            margin-top: 30px;
        }
    }
}
.bmr_input_sex{
    margin-bottom:15px;
    .bmr_input_sex_sex{
        margin-top: 10px;
        padding: 10px;
        width: 30px;
    }
}
.bmr_input_age{
    margin-bottom:15px;
    .bmr_input_age_input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid black;
        padding: 10px;
    }
}

.bmr_input_height{
    margin-bottom:15px;
    .bmr_input_height_input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid black;
        padding: 10px;
        @media(width>=1024px){
            width: 285px;
        }
    }
}
.bmr_input_weight{
    margin-bottom:15px;
    .bmr_input_weight_input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid black;
        padding: 10px;
    }
}
.bmr_input_sports{
    margin-bottom:15px;
    .bmr_input_sports_select{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid black;
        padding: 10px;
    }
}
.bmr_standard{
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #FFF3E0;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    padding: 15px 8px 15px 8px;
    @media(width>=576px){
        width: 350px;
    }
    h4{
        text-align: center;
        font-size: $fs-3;
        margin-bottom: 16px;
        @media(width>=576px){
            font-size: $fs-1;
        }
    }
}

.bmr_healthy_recommend{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    border: 3px $border-bg solid;
    border-radius: 40px;
    background-color: $white;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 12px;
    @media(width>=1200px){
        margin: auto;
        margin-bottom: 40px;
    }
    span{
        color: $primary;
    }
    h2{
        font-size: $fs-2;
        margin-top: 24px;
        @media(width>=1024px){
            font-size: $h2;
        }
    }
    h3{
        font-size: $fs-2;
        margin-top: 20px;
        color: $primary;
        @media(width>=1024px){
            font-size: $h2;
        }
    }
    p{
    margin-top: 18px;
        @media(width>=1024px){
            font-size: $fs-2;
        }
    }
    button{
        margin-bottom: 30px;
        @media(width>=576px){
        }
    }
}



.recommend_wall{
    margin-top: 30px;
    margin-bottom: 40px;
    @media(width>=1024px){
        display: flex;
        margin-top: 20px;
    }
}
.bmr_card_img img{
    width: 100%;
}
.bmr_recommend_card{
    width: 280px;
    position: relative;
    border: 1px $black solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    span{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #BDBDBD;
        border: 1px solid #BDBDBD;
        border-radius: 100px;
        width: 90px;
        height: 30px;
        line-height: 28px;
    }
    .bmr_card_img{
        margin-top: 40px;
    }
    .bmr_card_title{
        margin-top: 5px;
        font-size: 24px;
    }
    .bmr_card_price{
        margin-top: 5px;
        font-size: 24px;
    }
    a{
        width: 160px;
        display: block;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.bmr_healthy_recommend{
    display: none;
}
.bmr_countainer{
    display: flex;
}

