.confirm{
    width: 100%;
    position: relative;
    &_info{
        display: inline-block;
        &_infoTable{
            width: 100%;
            margin:$sp-1 auto;
            text-align: left;
        }
        &_infoTr>*{
            padding:0 0 $sp-1 $sp-2;
        }
        @media screen and (min-width:$sm){
            padding:0 0 $sp-1 $sp-2;
        }
    }
    &_page>*{
        padding-right: $sp-2;
    }
    &_page{
        margin: $sp-3 0;
        text-align: center;
        &_pageUP{
            color: $primary;
            opacity: .5;
        }
    }
    &_success{
        &_bg{
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.3);
            top: 0;
            left: 0;
            z-index: 998;
        }
    }
}
.success{
    position: absolute;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: $bgc;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    &_icon{ 
        display: inline-block;
        margin-top: $sp-3;
        width: 120px; 
        height: 120px;
        font-size: $h2;
        line-height:120px;
        background-color: $primary;
        border-radius: 200px;
    }
    &_title{
        font-size: $fs-3;
        margin: $sp-1 0;
    }
}