input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
.contact_banner{
    width: 100%;
    position: relative;
	margin: auto;
    img{
        height: 200px;
        width: 100%;
        object-fit:cover;
    }
    .contact_banner_textbackground{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 36px;
        max-width: 800px;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $banner-black;
        text-align: center;
        h1{
            color: $white;
            font-size: 36px;
            display: inline-block;
            @media(width>=1200px){
                font-size: 48px;
            }
        }
    }
}

.contact_inputs{
    margin: auto;
    max-width: 790px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    input{
        width: 100%;
        height: 50px;
        border: 1px solid $primary;
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        font-size: $fs-3;
    }
    select{
        border: 1px solid $primary;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        font-size: $fs-3;
    }
    textarea{
        border: 1px solid $primary;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        font-size: $fs-3;
    }
}