
.container{
     article {
        background-color: $white;
        border-radius: $border-r-2;
        overflow: hidden;
        position: relative;
        box-shadow: 15px 15px 10px #ccc;
        text-align: center;
        height: 502px;
        i {
    
            font-size: 40px;
            color: $primary;
            cursor: pointer;
        }
     }
     ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            width: 313px;
            list-style: none;
            margin-right: 50px;
            margin-bottom: 50px;
            img {
                width: 100%;
                height: 281px;
            }
        }
    }
    .text{
        padding:0 30px;
    }
}
.banner{
    position: relative;
    img{
        width: 100%;
    }
    h1{
        position: absolute;
        top:30%;
        left: 43%;
        font-size: $h1;
        color:$white;
        font-weight: $fw-bold;
        letter-spacing: 10px;
        text-shadow: 0px 4px 4px #333;
        z-index: 100;

        
        
    }
    ::before{
        content: '';
        width:600px;
        height: 120px;
        background-color: $banner-black;
        position: absolute;
        z-index: -1;
        top:-20px;
        left:-190px;
        
    }
}
.tag{
    margin: 50px 200px;
    button{
        margin-right: 20px;
        padding: 15px 30px;
        background-color: $white;
        color:$primary;
        border: none;
        border-radius: $border-r-3;
        font-weight: $fw-bold;
        cursor: pointer;
        font-size: $fs-2;
    }
}
.styled-button{
    background-color: $primary;
    color:$white;
}
        
.bookmark{
    position: absolute;
    left: 15px;
    top: 15px;
}
.like{
    position: absolute;
    right: 20px;
    bottom:20px;
    span{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 20px;
        color:$primary;
    }
}


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.page-link {
    cursor: pointer;
    margin: 0 5px;
    color: $primary;
    text-decoration: none;
}