* {
    margin: 0 auto;
}

.recipe_container {
    margin: auto;
    padding: 0 140px;
}

.title {
    h6 {
        font-size: $h2;
    }

    span {
        font-size: 16px;
    }
}

.recipe_card {
    .recipe_img {
        width: 700px;
        height: 425px;
        border-radius: $border-r-3;
        overflow: hidden;
        margin-top: 20px;

        img {
            width: 100%;
        }

    }

    display: flex;
}

.box {
    margin: 80px 0 50px 50px;
    font-size: $fs-2 ;

    p {
        line-height: 2;
        margin-bottom: 30px;
    }

    a {
        padding: 15px 40px;
        background-color: $primary;
        color: $white;
        border-radius: $border-r-1;

    }

    button {
        margin-top: 80px;
        width: 150px;
        padding: 15px 40px;
        background-color: $primary;
        color: $white;
        border-radius: $border-r-1;
        border: none;
        font-size: $fs-2 ;
        margin-right: 10px;
        cursor: pointer;

    }

}

.time {
    font-size: $fs-2 ;
    margin-bottom: 50px;

    span {
        background-color: $white;
        border-radius: $border-r-1;
        width: 48%;
        display: inline-block;
        color: $primary;
        text-align: center;
        line-height: 100px;

        &:first-child {
            margin-right: 20px;
        }
    }
}

.ingredients {
    background-color: $white;
    color: $primary;
    font-size: $fs-2;
    padding: 30px;
    margin-bottom: 50px;

    .name {
        border-bottom: 1px solid $primary;
        padding-bottom: 30px;

        h5 {
            font-size: $h2;
            padding: 0 0 0 40px;
        }
    }

    p {
        margin-top: 30px;
        padding: 0 40px 0 40px;
    }
}

.content {
    padding: 0 70px 60px 70px;
    font-size: $fs-2;
    border-bottom: 1px solid;

    h5 {
        font-size: $h2;
        margin-bottom: 50px;
    }
}
.recipe-info {
    white-space: pre-line;
  }
  .recipe-ingredient {
    white-space: pre-line;
  }


.comment {
    margin-bottom: 100px;

    button {
        margin: 0 20px;
        color: $primary;
        background: none;
        border: none;
        font-size: 50px;
        cursor: pointer;
    }

    .comment-card-wrapper {
        overflow-x: hidden;
        white-space: nowrap;
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
    }

    h4 {
        font-size: $h1;
        color: $primary;
        padding: 30px 140px;
        margin-bottom: 30px;
    }
}

.comment_card {
    padding: 0 55px;
    font-size: $fs-2;
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .card_top {
        padding: 30px;

        h6 {
            font-size: 16px;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 568px;

    }

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li {
        width: 32%;
        height: 568px;
        background-color: #FFE8A3;
        border-radius: $border-r-2;
        margin-right: 10px;
    }

    .comment_pic {
        height: 177px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .icon {
        margin: 0 10px;
        display: flex;
        justify-content: space-between;

        button{
            font-size: 30px;
            color:black;
        }

        .fa-triangle-exclamation {
            padding: 10px;
            cursor: pointer;
        }
    }

    .comment_like {
        background-color: $white;
        padding: 5px 10px;
        border-radius: $border-r-2;
        color: #FFBB00;

        i {
            cursor: pointer;
        }
    }


}

.letter {
    padding: 0 200px;
    text-align: center;
    margin-bottom: 100px;

    h5 {

        font-size: $h2;
        margin-bottom: 50px;
    }

    .letter_box {
        background-color: $primary;
        margin: 0 80px;
        padding: 50px 100px;
        position: relative;
        border-radius: $border-r-1;

        button,input {
            font-size: $fs-2;
            cursor: pointer;
            display: flex;
            flex-wrap: nowrap;
        }

        .login {
            padding: 15px 70px;
            background-color: #D9D9D9;
            border: none;
            border-radius: $border-r-1;
            color: $primary;
            font-weight: bold;
            // margin-right: 100px;
            text-align: left;
            margin-bottom: 10px;

        }

        input {
            background-color: $white;
            border: none;
            border-radius: $border-r-1;
            color: $primary;
            font-weight: bold;
            padding: 10px 15px;
            // margin-right: 150px;
        }

        textarea {
            width: 100%;
            margin-top: 30px;
            border-radius: $border-r-1;
            border: none;
            padding: 20px;
            font-size: $fs-2;
        }

        .submit {
            background-color: $white;
            border: none;
            border-radius: $border-r-1;
            padding: 10px 50px;
            margin-top: 30px;
            // margin-right: -430px;
        }

    }

    .letter_box::after {
        content: "";
        position: absolute;
        bottom: -45px;
        right: 0;
        border-right: 50px solid transparent;
        border-top: 50px solid $primary;

    }
}
.report-modal{
    position: fixed;
    left: 40%;
    top:50%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid $primary;
    width: 300px;
    h3{
        font-size: 25px;
        color:$primary;
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .close-button{
        position: absolute;
        right: 10px;
        top:10px;
        color:$primary;
        background: none;
        border:none;
        font-weight: bold;
        font-size: 30px;
        cursor: pointer;
    }
    textarea{
        padding: 20px;
    }
    .submit-button{
        background-color: $primary;
        color:white;
        border-radius: 10px;
        border:none;
        padding: 5px 15px;
        margin-left: 150px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 16px;

    }
}


@media screen and (max-width:802px) {
    .recipe_container {
        padding: 10px 20px;

    }

    .cookbookinfo {
        overflow: hidden;
    }

    .title {
        h6 {
            font-size: 1.7em;
        }

        span {
            font-size: 1em;
        }
    }

    .recipe_card {
        flex-wrap: wrap;
    }

    .box {
        margin: 0;

        p {
            font-size: 0.8em;
        }

        a {
            font-size: 0.8em;
        }

        button {
            // margin: 30px 20px 20px 0;
            font-size: 0.8em;

        }
    }

    .time {
        span {
            font-size: 0.8em;
            width: 48%;
            line-height: 4em;

            &:first-child {
                margin-right: 10px;
            }
        }
    }

    .ingredients {
        font-size: 1em;

        .name {
            h5 {
                font-size: 2em;
                padding: 0 10px;
            }
           
        }
        p{
            padding: 0 10px;
        }
    }

    .content{
        font-size: 1em;
        padding: 0 35px 50px 35px;
        h5{
            font-size: 2em;
            margin-bottom: 20px;
            
        }
    }
    .comment{
        h4{
            padding: 10px 35px;
            font-size: 2em;
        }
    }

    .comment-card-wrapper{
        button{
            margin: 0;
        }
    }
    .comment_card{
        padding: 0;
        h5{
            font-size: 0.8em;
        }
        li{
            width: auto;
        }
        .card_top{
            p{
                font-size: 0.7em;
            }
        }
        
    }
    .letter{
        h5{
            font-size: 2em;
        }
        padding: 0;
        .letter_box{
            margin: 10px;
            button,input{
                font-size: 1em;
            }
            

            .login{
                white-space: nowrap;
                margin-right: 20px;
            
            }
            input{
                margin: 0;
                width: 250px;
            }
            textarea{
                width: auto;
                font-size: 1em;
            }
            .submit{
                margin: 20px 0;
            }
        }
        
    }
}