.foodmap{
    background-image: url('/src/assets/images/foodmap/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    svg{
        width: 100%;
        transition: transform 0.3s ease-out;
    }
}

    .shaking {
        animation: shake 0.5s ease-in-out infinite alternate;
      }

      @keyframes shake {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(20px); 
        }
      }