.game_start_area {
    padding: 0 10px;
}

.game_start {
    justify-content: space-between;
    align-items: center;
    background-color: $white;

    filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.15));
    border-radius: $border-r-3;
    margin-bottom: $sp-4 ;

    .game_start_img {
        max-height: 500px;
        border-radius: $border-r-3 $border-r-3 0 0;
        padding: 0;
        margin-bottom: $sp-1;

        img {
            max-height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            vertical-align: middle;
            border-radius: $border-r-3 $border-r-3 0 0;
        }
    }

    .game_start_text {
        text-align: center;

        .game_start_title {
            font-size: $h2;
            font-weight: $fw-bold;
            margin-bottom: $sp-1;
            color: #000;
        }

        p {
            font-size: $fs-2;
            margin-bottom: $sp-1;
            text-align: left;
        }

        button {
            font-size: $fs-2;
            margin-bottom: $sp-1;
        }
    }

}

@media (width>=768px) {
    .game_start {
        max-height: 500px;

        .game_start_img {

            border-radius: $border-r-3 0 0 $border-r-3;
            margin-bottom: 0;

            img {
                border-radius: $border-r-3 0 0 $border-r-3;
            }
        }

        .game_start_text {
            .game_start_title {
                margin-bottom: $sp-2;
            }

            p {
                margin-bottom: $sp-2;
            }

            button {
                margin-bottom: 0;
            }
        }

    }
}

.q_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: $sp-2;

    .q_bar_circle {
        width: 40px;
        height: 40px;
        background-color: $dark-line;
        border-radius: 50%;
        z-index: 2;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .q_bar_line {
        background-color: $dark-line;
        height: 5px;
        width: 90%;
        position: absolute;
        z-index: 1;
    }

    @media (width>=768px) {
        .q_bar_circle {
            width: 70px;
            height: 70px;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}

.game_q {
    text-align: center;
    border: 1px solid #000;
    border-radius: $border-r-3;
    padding: 20px 10px;
    margin-bottom: $sp-4 ;
    min-height: 500px;

    .game_q_num {
        font-size: $h1;
        font-weight: $fw-bold;
        margin-bottom: $sp-1;
    }

    .game_q_topic {
        font-size: $h2;
        margin-bottom: $sp-2;
    }

    .game_q_options {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            font-size: $fs-1;
            font-weight: $fw-bold;
            width: 100%;
            border-radius: 50px;
            border: 3px solid $btn;
            background: $white;
            padding-top: $sp-2;
            padding-bottom: $sp-2;
            margin-bottom: $sp-1;
            cursor: pointer;
            color: $btn;

            &:hover {
                color: $white;
                background: $btn;
            }
        }
    }

    @media (width>=768px) {
        padding: $sp-2 $sp-4 $sp-1 $sp-4;

        .game_q_num {
            margin-bottom: $sp-2;
        }

        .game_q_topic {
            margin-bottom: $sp-3;
        }

        .game_q_options {
            li {
                width: 47%;
                margin-bottom: $sp-3;
            }

            li:first-child,
            li:nth-child(3) {
                margin-right: 6%;
            }
        }
    }

}

.game_a_area {
    padding: 0 10px;
}

.game_a {
    justify-content: space-between;
    align-items: center;
    border-radius: $border-r-3;
    margin-bottom: $sp-4 ;
    border: 1px solid #000;
    overflow: hidden;

    .game_a_img {
        height: 350px;
        border-radius: $border-r-3 $border-r-3 0 0;
        padding: 0;
        margin-bottom: $sp-1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: $border-r-3 $border-r-3 0 0;
            vertical-align: middle;
        }
    }

    .game_a_text {
        text-align: center;

        .game_a_title {
            font-size: $h1;
            font-weight: $fw-bold;
            margin-bottom: $sp-1;
        }

        p {
            font-size: $fs-1;
            text-align: left;
            margin-bottom: $sp-2;
        }

        button {
            font-size: $fs-1;
            width: 50%;
            margin-bottom: $sp-1;
        }
    }

    @media (width>=768px) {
        height: 500px;

        .game_a_img {
            height: 500px;
            border-radius: $border-r-3 0 0 $border-r-3;
            margin-bottom: 0;

            img {
                border-radius: $border-r-3 0 0 $border-r-3;
            }
        }

        .game_a_text {
            .game_a_title {
                margin-bottom: $sp-2;
            }

            p {
                margin-bottom: $sp-3;
            }

            button {
                margin-bottom: 0;
            }
        }
    }
}

.coupon-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .modal {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.coupon_modal_bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .coupon_modal {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal_text {
            background-color: $bgc;
            border-radius: $border-r-1;
            padding: $sp-2 $sp-1;
            text-align: center;
        }

        p {
            font-size: $fs-3;
            margin-bottom: $sp-2;
        }

        button {
            font-size: $fs-3;
            margin: 0 auto;
            width: 50%;
        }

        @media (width>=768px) {
            .modal_text {
                padding: $sp-2 $sp-4;
            }

            p {
                font-size: $fs-1;
            }
        }
    }
}