input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
.gi_banner{
    width: 100%;
    position: relative;
	margin: auto;
    img{
        height: 200px;
        width: 100%;
        object-fit:cover;
    }
    .gi_banner_textbackground{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 36px;
        max-width: 800px;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $banner-black;
        text-align: center;
        h1{
            color: $white;
            font-size: 36px;
            display: inline-block;
            @media(width>=1200px){
                font-size: 48px;
            }
        }
    }
}
.gi_countainer{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px $border-bg solid;
    border-radius: 40px;
    background-color: $white;
    margin: 10px;
    @media(width>=1200px){
        margin: auto;
        margin-bottom: 40px;
    }
    h2{
        margin-top: 12px;
        font-size: $fs-2;
        @media(width>=576px){
            font-size: $h2;
        }
    }
    p{
        max-width: 900px;
        @media(width>=576px){
            font-size: $fs-2;
        }
    }
    button{
        margin-bottom: 15px;
        @media(width>=576px){
            margin-top: 15px;
        }
    }
}
.gi_inputs{
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
}
.gi_food{
    width: 45%;
    p{
        @media(width>=576px){
            font-size: $fs-2;
        }
    }
    .gi_food_select{
        width: 100%;
        border-radius: 10px;
        border: 1px solid $black;
        height: 40px;
        margin: 10px 0;
        border: 1px solid black;
        padding: 10px;
    }
}
.gi_g{
    width: 45%;
    p{
        @media(width>=576px){
            font-size: $fs-2;
        }
    }
    .gi_g_input{
        width: 100%;
        border-radius: 10px;
        border: 1px solid $black;
        height: 40px;
        margin: 10px 0;
        border: 1px solid black;
        padding: 10px;
    }
}


.gi_word_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    @media(width>=1024px){
        flex-direction: row;
    }
}


.gi_word_card ul{
    width: 300px;
    background-color: #FFF3E0;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    padding: 15px 8px 15px 8px;
    padding: 12px;
    @media(width>=1024px){
        height: 220px;
    }
    li{
        margin: 12px;
    }
}
.gi_danger{
    width: 300px;
    background-color: #FFF3E0;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    padding: 15px 8px 15px 8px;
    padding: 12px;
    @media(width>=1024px){
        height: 220px;
    }
    h4{
        text-align: center;
        font-size: $fs-3;
        margin-bottom: 8px;
    }
    p{
        font-size: 16px;
    }
}
.gi_optimal{
    width: 300px;
    background-color: #FFF3E0;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    padding: 15px 8px 15px 8px;
    padding: 12px;
    @media(width>=1024px){
        height: 220px;
    }
    h4{
        text-align: center;
        font-size: $fs-3;
        margin-bottom: 8px;
    }
    p{
        font-size: 16px;
    }
}



.gi_healthy_recommend{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    border: 3px $border-bg solid;
    border-radius: 40px;
    background-color: $white;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 12px;
    @media(width>=1200px){
        margin: auto;
        margin-bottom: 40px;
    }
    span{
        color: $primary;
    }
    h2{
        font-size: $fs-2;
        margin-top: 24px;
        @media(width>=1024px){
            font-size: $h2;
        }
    }
    h3{
        font-size: $fs-2;
        margin-top: 20px;
        color: $primary;
        @media(width>=1024px){
            font-size: $h2;
        }
    }
    p{
    margin-top: 18px;
        @media(width>=1024px){
            font-size: $fs-2;
        }
    }
    button{
        margin-bottom: 30px;
        @media(width>=576px){
        }
    }
}
.recommend_wall{
    margin-top: 30px;
    margin-bottom: 40px;
    @media(width>=1024px){
        display: flex;
        margin-top: 20px;
    }
}
.gi_card_img img{
    width: 100%;
}
.gi_recommend_card{
    box-shadow: 5px 5px 5px #aaa;
    width: 280px;
    position: relative;
    border: 1px $black solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    span{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #BDBDBD;
        border: 1px solid #BDBDBD;
        border-radius: 100px;
        width: 90px;
        height: 30px;
        line-height: 28px;
    }
    .gi_card_img{
        margin-top: 40px;
    }
    .gi_card_title{
        margin-top: 5px;
        font-size: 24px;
        font-weight: $fw-bold;
    }
    .gi_card_price{
        margin-top: 5px;
        font-size: 24px;
        font-weight: $fw-bold;
    }
    a{
        width: 160px;
        display: block;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.gi_healthy_recommend{
    display: none;
}
.gi_countainer{
    display: flex;
}

