.home_banner{
    position: relative;
	// width: 100%;
	height: 555px;
	margin: auto;
	overflow: hidden;
    .banner_content{
        position: relative;
        .banner_wall{
            display: flex;
            // .home_bannerpic{}
        }
    }
}



// .home_banner01_1{
//     min-width: 300px;
//     max-width: 500px;
//     width: 35%;
//     position: absolute;
//     bottom: -100px;
//     right: -100px;
// }
// .home_banner01_2{
//     min-width: 300px;
//     max-width: 500px;
//     width: 35%;
//     position: absolute;
//     top: -100px;
//     left: -130px;
// }

.home_banner_textbackground{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px;
    max-width: 1200px;
    width: 100%;
    height: 291px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $banner-white;
    text-align: center;
    h1{
        font-size: 36px;
        display: inline-block;
        @media(width>=1200px){
            font-size: 48px;
        }
    }
}
.carousel_buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel_button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin: 10px;
}
.active {
    background-color: #7A7A7A;
}
//  第二區塊 feature 
.feature{
    margin-top: $sp-4;
    margin-bottom: $sp-4;
    @media (width >= 1200px) {
        margin-top: $sp-5;
    }
    text-align: center;
    .feature_card{
        .feature_title{
            margin-top: $sp-2;
            font-size: $fs-1;
            margin-bottom: $sp-2;
        }
        .title_pic{
            margin-bottom: $sp-2;
        }
    }
}
//  第三區塊 featured_commodity 
.featured_commodity_background{
    background-color: $primary;
    width: 100%;
    color: white;
    .featured_commodity{
        display: flex;
        flex-direction: column;
        @media (width >= 576px) {
            flex-direction: row;
        } 
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        .commodity_pic_countainer{
            padding: 10px;
            width: 100%;
            @media (width >= 576px) {
                width: 65%;
            } 
            display: flex;
            align-items: center;
            justify-content: center;
            .leftbutton{
                border: none;
                background-color: $primary;
                color: white;
                height: 300px;
                font-size: 36px;
            }
            .bigpic_item{
                width: 100%;
                overflow: hidden;
                @media (width >= 576px) {
                    overflow:visible;
                } 
                .pic_wall{
                    display: flex;
                    @media (width >= 576px) {
                        width: 100%;
                    }
                    .commodity_bigpic {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        display: block;
                        margin: 0 auto;
                    }
                    @media (min-width: 576px) {
                        .commodity_bigpic img:nth-child(2) {
                            width: 50%;
                        }
                        .commodity_bigpic {
                            max-width: 33.333333%;
                        }
                    }
                }
            }
            .rightbutton{
                border: none;
                background-color: $primary;
                color: white;
                height: 300px;
                font-size: 36px;
            }
        }
        .commodity_introduce{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            @media (width >= 576px) {
                max-width: 894px;
                width: 30%;
            } 
            .commodity_title{
                margin-top: $sp-2;
                font-size: 36px;
            }
            .commodity_illustrate{
                margin-top: $sp-2;
                font-size: 20px;
                margin-bottom: $sp-2;
            }
            .commodity_more{
                margin-top: $sp-2;
                margin-left: auto;
                margin-bottom: $sp-2;
                color: white;
                border: white 1px solid;
                border-radius: 10px;
                width: 140px;
                height: 35px;
                line-height: 35px;
                text-align: center;
            }
        }
    }
}

//  第四區塊 comment 
.comment{
    margin-top: $sp-2;
    margin-bottom: $sp-2;
    h3{
        text-align: center;
        font-size: $h2;
        margin-top: $sp-2;
        margin-bottom: $sp-2;
        color: $primary;
        @media (width >= 576px) {
            font-size: $h1;
        } 
    }
    .comment_wall{
        display: flex;
        overflow: hidden;
        .comment_card{
            width: 246px;
            background-color: $green;
            padding: 10px;
            margin: $sp-2;
            display: flex;
            flex-direction: column;
            border-radius: 50px;
            @media (width >= 576px) {
                margin: $sp-3;
                width: 380px;
            } 
            .person{
                display: flex;
                align-items: center;
                .comment_card img{
                    width: 100px;
                }
                .comment_name{
                    color: $white;
                    font-size: 20px;
                    @media (width >= 576px) {
                        font-size: $h2;
                    } 
                }
            }
            .comment_star{
                display: flex;
            }
            .comment_message{
                background-color: #DFEBE6;
                border-radius: 50px;
            }
        }
    }
}

// 標題
h2 {
    font-size: $h2;
    color: $primary;
    text-align: center;
    margin: $sp-2;
    @media (min-width:$xl) {
      font-size: $h1;
    }
}

// 健康專欄
.article-overview {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $sp-3 * 2;
    @media (min-width:$xl) {
      width: 1200px;
      margin: auto;
    }
    a{
      margin: auto;
      margin-top: -70px;
    }
    .article-img {
        width: 387px;
        margin: 0px 0px -230px 0px ;
        @media (min-width:$xl) {
          margin: 0 auto -510px 0;
        }
        img {
          width: 90%;
          border-radius: $border-r-3;
          display: block;
          @media (min-width:$xl) {
            width: 580px;
            height: 580px;
          } 
        }
      }
      .article {
        background: $primary;
        height: 600px;
        width: 100%;
        z-index: -1;
        @media (min-width: $xl) {
          width: 100%; 
        }
        }
        p {
          color: $white;
          margin-top: -360px; 
          padding: 0 40px;
          font-size: 20px;
          @media (min-width:$xl) {
            width: 600px;
            margin-top: -430px; 
            margin-left: 585px;
          }
          span{
            display: block;
            text-align: center;
            font-size: $fs-2;
            margin: 10px 0;
          }
      }
}

// 熱門食譜
.hot-recipe{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $sp-3 * 2;
    .first-recipe, .recipe-img{
        margin: 0px 0px -220px 0px;
        width: 338px;
        z-index: 1  ;
        img {
          width: 100%;
          border-radius: $border-r-3;
        }
    }
    .first-recipe{
      margin: 0px 0px -220px 0px;
      margin-left: auto;
      
    }
    .recipe {
        background-color: $secondary;
        overflow: hidden;
        width: 100%; 
        height: 570px;
        // z-index: -1;
        h3{
            color: $primary;
            font-weight: $fw-bold;
            text-align: center;
            margin-top: 240px;
            font-size: $fs-2;
        }
          span {
              color: $primary;
              font-size: 24px;
              padding: $sp-3;
          }
          li{
            padding: 0 $sp-3;
            color: $primary;
            margin: 5px 0;
          }
          a{
            line-height: 50px;
            margin-left: 130px;
            z-index: 1;
          }
    }
}

// 健康小幫手
h3{
  text-align: center;
  font-size: 20px;
}
.assistant{

  .assistant-item{
    display: block;
    text-align: center;
    color: #000;
    padding: $sp-2;
    img{
      max-width: 100%;
    }
    .switch{
      display: flex;
      margin: auto;
      width: fit-content;
      .prev{
        margin: 10px 0;
        margin-right: 50px;
      }
      .next{
        margin: 10px 0;
        margin-left: 50px;
      }
      h4{
        font-size: $fs-1;
        margin: $sp-1;
        font-weight: $fw-bold;
      }
    }
    .text{
      line-height: 40px;
      span{
        font-size: $fs-2;
      }
    }
  }
  .btn{
    margin: 0 35%;
  }
}

