.payment{
    width: 100%;
    &_info{
        display: inline-block;
        &_infoTable{
            width: 100%;
            margin:$sp-1 auto;
            text-align: left;
        }
        &_infoTr>*{
            padding:0 0 $sp-1 $sp-1;
        }
        @media screen and (min-width:$sm){
            padding:0 0 $sp-1 $sp-2;
        }
        &_infoInput{
            padding: $sp-1;
            border-radius: 10px;
            border: 0;
            background-color: $adminbg;
            width: 80%;
        }
        }
    &_page>*{
        padding-right: $sp-2;
    }
    &_page{
        margin: $sp-3 0;
        text-align: center;
        &_pageUP{
            color: $primary;
        }
    }
}