.productInfo_product {
    flex-direction: row-reverse;
    margin-bottom: $sp-2;
    &_image>img {
        width: 100%;
        vertical-align: top;
    }
    &_txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_title {
            display: flex;
            justify-content: space-between;
        }

        &_title>* {
            font-size: $h1;
        }
        &_describe p:last-child {
            display: inline-block;
            margin: $sp-2 0;
            @media screen and (min-width:$md){
                margin: $sp-3 0;
            }
        }
    }
    &_btn {
        margin-top: $sp-2;
        display: flex;
        justify-content: end;
    }
    &_btn>* {
        margin-right: $sp-2 ;
    }
}

.productInfo_product_collapse {
    &_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: $sp-1;
        border-bottom: 1px solid #000;
        cursor: pointer;
    }
    &_txt {
        margin-bottom: $sp-2;
    }
}

.productInfo_product_btn{
    display: flex;
    justify-content: end;
    &_count {
        border: 3px solid $primary;
        border-radius: $border-r-3;
        display: flex;
        justify-content: space-around;
    
        button {
            font-size: $fs-1;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    
        span {
            font-size: $fs-1;
            font-weight: $fw-bold;
            line-height: $fs-1;
            color: $primary;
            display: inline-block;
            padding: 0 $sp-1;
        }
    }
}